@import "src/variables.scss";
.test {
  color: black;
  height: 500px;
  width: 300px;
}
section {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;

  #counter {
    color: $darkerPink;
    font-size: 35px;
  }

  .line {
    width: 200px;
    height: 6px;
    border-radius: 8px;
    background: $pink;
    position: relative;

    #caps-lock {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 70px;
      opacity: 0;
    }

    #mistakes {
      font-size: 20px;
      top: -12px;
      position: absolute;
      left: 220px;
      color: red;

      //   animation: attention 0.5s;
      @keyframes attention {
        50% {
          transform: scale(1.1);
        }
      }
    }
  }

  .word-row {
    position: relative;
    margin: auto;
    #start-here {
      position: absolute;
      left: -140px;
      top: 5px;
      @keyframes fade-out {
        0% {
          opacity: 1;
          transform: translateX(0);
        }
        50% {
          opacity: 0.5;
          transform: translateX(-20px);
        }
        100% {
          display: none;
          opacity: 0;
          transform: translateX(-40px);
        }
      }
    }

    #word {
      font-size: 50px;
      line-height: 50px;
      padding-top: 10px;
      padding-bottom: 12px;
      user-select: none;
      cursor: text;
      position: relative;

      .preview {
        color: darkgray;
      }
      .wrong {
        color: red;
      }
    }
  }

  .previews {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    justify-content: center;
    user-select: none;

    .gradient {
      background: linear-gradient(
        180deg,
        $background 0%,
        rgba($background, 0.8) 22.17%,
        rgba($background, 0.4) 100%
      );
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  #preview-1 {
    font-size: 45px;
  }

  #preview-2 {
    font-size: 40px;
  }

  #preview-3 {
    font-size: 30px;
  }

  #preview-4 {
    font-size: 25px;
  }

  #preview-5 {
    font-size: 20px;
  }
}
