@import "src/variables.scss";

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
    font-size: 55px;
    font-family: "Lobster", serif;
  }

  .statistic {
    margin-top: 10px;
    .wpm {
      text-align: center;
      font-size: 42px;

      .number {
        color: $pink;
        font-size: 55px;
      }
    }
  }

  .feedback {
    @keyframes blinkMessage {
      50% {
        opacity: 80%;
      }
    }

    margin-top: 20px;
    font-size: 28px;
    animation: blinkMessage 1s infinite;
  }
}

.accuracy {
  display: flex;
  justify-content: center;
  align-items: center;
  .percentage {
    font-size: 30px;
  }

  .word-count {
    margin-left: 9px;
    color: $gray;
    font-size: 25px;
  }
}
