@import "src/variables.scss";
main {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;

  .content-container {
    width: 100%;
  }

  header {
    display: flex;
    justify-content: center;
    width: 100%;

    #logo {
      margin-top: 100px;
      max-width: 538px;
      width: 95vw;
      transition: all 0.25s;
      cursor: pointer;
      outline: none;
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  .input-container {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    #input-name {
      outline: none;
      height: 70px;
      width: 280px;
      background: #cfd8dc;
      border-radius: 15px;
      border: 9px solid #90a4ae;
      font-size: 35px;
      padding: 5px 0 5px 10px;
      color: $gray;

      &:required {
        box-shadow: none;
      }
      &::placeholder {
        color: white;
      }
      &:invalid ~ #enter-key {
        filter: brightness(0.5);
      }
      &:valid ~ #enter-key {
        filter: brightness(1);
        cursor: pointer;

        &:hover {
          transform: scale(1.04);
        }
      }
    }
    #enter-key {
      margin-left: 20px;
    }
  }

  .instruction {
    font-size: 25px;
    width: 400px;
    margin: 80px auto 0 auto;
    text-align: center;

    .time-icon {
      vertical-align: middle;
      margin-left: 5px;
      height: fit-content;
      img {
        transform: translateY(4px);

        height: 30px;
      }
    }
  }

  .direction-switch {
    margin: 20px auto 0 auto;
    height: 35px;
    width: 70px;
    border-radius: 35px;
    background: rgba(255, 145, 145, 0.57);
    cursor: pointer;
    position: relative;

    #switch-circle {
      height: 35px;
      width: 35px;
      background: $pink;
      border-radius: 38px;
      position: absolute;
      left: 0px;

      transition: all 0.2s;
    }
  }

  #arrows {
    margin-top: 9px;
    text-align: center;

    transition: all 0.2s;
  }

  @keyframes hover {
    50% {
      bottom: 55px;
    }
  }
  #triangle-down {
    position: absolute;
    bottom: 60px;
    left: 50%;
    cursor: pointer;
    animation: hover 1s infinite;
    transition: opacity 0.1s;
    transform: translateX(-50%) scale(0.5);
  }

  @media (max-height: 740px) {
    #triangle-down {
      display: none;
    }
  }
}

footer {
  background: black;
  .rounding {
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    background: $background;
  }

  .content {
    padding: 40px 0;
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-picture {
      border-radius: 150px;
      border: 8px solid white;
    }

    .text-container {
      margin-left: 30px;
      .creator {
        font-family: "Lobster", serif;
        font-size: 45px;
        color: $pink;
      }

      .name {
        font-size: 36px;
      }

      .line {
        width: 315px;
        height: 7px;
        background: white;
        border-radius: 8px;
      }

      .contact-me {
        color: $gray;
        font-size: 30px;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
