<section>
  <div class="title">
    <div [routerLink]="['/']" class="text">About TypeRace</div>
  </div>
  <div class="text-container">
    <div class="text-block">
      <div class="text-header">
        What
      </div>
      <div class="text">
        TypeRace is an attractive and easy to use website, on which you can test
        yourself and find out your writing speed. After entering your name, you
        will be forwarded to the main page, where you’ll be typing the displayed
        words for one minute. When you have finished, you’ll be able to see your
        Words Per Minute (WPM) calculated with this
        <a href="https://www.speedtypingonline.com/typing-equations">formula</a
        >.
      </div>
    </div>
    <div class="text-block">
      <div class="text-header">
        Why
      </div>
      <div class="text">
        I created this website as preparation to improve my knowledge on the
        technologies, ex. Angular, that I’ll be needing during my internship
        starting in august 2020.
      </div>
    </div>
    <div class="text-block">
      <div class="text-header">
        Who
      </div>
      <div class="text">
        I’m Noah Salvi, an 18-year-old Software Developer in training, based in
        Berne, Switzerland. At the time when I came up with the idea for
        TypeRace, my friends and I, were learning the touch-typing system, with
        the help of the internet. That’s how I came in contact with websites
        that taught you touch typing or even sites, that tested your writing
        speed. After using them on a daily basis, I decided to make an improved
        version of the sites I was visiting and to also improve my website
        skills at the same time.
      </div>
    </div>
  </div>
</section>
