#navigation {
  background: rgb(29, 29, 29);
  padding-top: 90px;
  height: 100%;
  text-align: center;

  & > * {
    overflow: hidden;
    opacity: 0;
    width: 0;
    max-width: 40vw;
    transition: width 0.25s, opacity 0.1s;
  }

  .menu {
    user-select: none;
    font-family: "Lobster", serif;
    font-size: 45px;
  }

  ul {
    margin-top: 20px;
    li {
      outline: none;
      user-select: none;
      font-size: 20px;
      background: rgb(29, 29, 29);
      list-style: none;
      padding: 10px 0;
      cursor: pointer;

      &:hover {
        background: rgb(36, 36, 36);
        background: rgb(44, 44, 44);
      }
    }
    .current {
      background: rgb(78, 78, 78);
      background: rgb(44, 44, 44);
      background: rgb(36, 36, 36);
    }
  }

  &.active {
    & > * {
      width: 400px;
      opacity: 1;
      transition: width 0.25s, opacity 0.25s;
    }
  }
}
