@import "src/variables.scss";

#logo {
  margin: 10% auto 0 auto;
  width: 100%;
  transition: transform 0.2s;
  cursor: pointer;
  outline: none;
  &:hover {
    transform: scale(1.02);
  }
}

footer {
  height: 20vh;
}
