/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Lobster&display=swap");
@import "variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai", sans-serif;
  color: white;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $background;
}

#focusCatcher {
  position: absolute;
  background: none;
  border: none;
  user-select: none;
  cursor: default;
  outline: none;
}

.blinking {
  animation: blinking 0.6s infinite;
  @keyframes blinking {
    50% {
      opacity: 0.25;
    }
  }
}

//Placed here because they would be ignored by Dom manipulation if placed in game.component.scss
.preview {
  color: #565656;
}

.wrong {
  color: red;
}
.excess {
  color: orange;
}

//horizontal-game
#text > * {
  margin-left: 8px;
  top: 0; //needed for .active preview transition of top
}

.active-preview {
  // color: #565656;
  // text-decoration: underline;
  position: relative;
  transition: all 0.1s ease-out;
  top: -4px !important;
}

//hamburger
#hamburger {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
  user-select: none;

  transition: opacity 0.1s;
}

#navigation {
  background: rgb(29, 29, 29);
  padding-top: 90px;

  & > * {
    overflow: hidden;
    opacity: 0;
    width: 0;
    max-width: 40vw;
    transition: width 0.25s, opacity 0.1s;
  }

  .menu {
    user-select: none;
    font-family: "Lobster", serif;
    font-size: 45px;
  }

  ul {
    margin-top: 20px;
    li {
      outline: none;
      user-select: none;
      font-size: 20px;
      background: rgb(29, 29, 29);
      list-style: none;
      padding: 10px 0;
      cursor: pointer;

      &:hover {
        background: rgb(36, 36, 36);
        background: rgb(44, 44, 44);
      }
    }
    .current {
      background: rgb(78, 78, 78);
      background: rgb(44, 44, 44);
      background: rgb(36, 36, 36);
    }
  }

  &.active {
    & > * {
      width: 400px;
      opacity: 1;
      transition: width 0.25s, opacity 0.25s;
    }
  }
}
