/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Lobster&display=swap");
@import "variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai", sans-serif;
  color: white;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $background;
}

//Placed here because they would be ignored by Dom manipulation if placed in game.component.scss
.preview {
  color: rgba(255, 255, 255, 0.22);
}
.wrong {
  color: red;
}
.excess {
  color: orange;
}

#text > * {
  margin-left: 8px;
}

//horizontal-game
